In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:\\Users\\Adishree\\Desktop\\DTU\\AIMS\\car-sales-extended-missing-data.csv')

In [5]:
print("Original Data:")
print(df.head())

Original Data:
     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [7]:
#ORDINAL
df['category_ordinal'] = df['Colour'].astype('category').cat.codes

print("\nAfter Ordinal Encoding:")
print(df[['Colour', 'category_ordinal']].head())

After Ordinal Encoding:
  Colour  category_ordinal
0  White                 4
1   Blue                 1
2  White                 4
3  White                 4
4   Blue                 1

In [13]:
#ONEHOT
df_onehot = pd.get_dummies(df['Colour'], prefix='category')


df = pd.concat([df, df_onehot], axis=1)

In [15]:
print("\nAfter One-Hot Encoding:")
print(df.head())

After One-Hot Encoding:
     Make Colour  Odometer (KM)  Doors    Price  category_ordinal  \
0   Honda  White        35431.0    4.0  15323.0                 4
1     BMW   Blue       192714.0    5.0  19943.0                 1
2   Honda  White        84714.0    4.0  28343.0                 4
3  Toyota  White       154365.0    4.0  13434.0                 4
4  Nissan   Blue       181577.0    3.0  14043.0                 1

   category_Black  category_Blue  category_Green  category_Red  ...  \
0           False          False           False         False  ...
1           False           True           False         False  ...
2           False          False           False         False  ...
3           False          False           False         False  ...
4           False           True           False         False  ...

   category_Black  category_Blue  category_Green  category_Red  \
0           False          False           False         False
1           False           True           False         False
2           False          False           False         False
3           False          False           False         False
4           False           True           False         False

   category_White  category_Black  category_Blue  category_Green  \
0            True           False          False           False
1           False           False           True           False
2            True           False          False           False
3            True           False          False           False
4           False           False           True           False

   category_Red  category_White
0         False            True
1         False           False
2         False            True
3         False            True
4         False           False

[5 rows x 21 columns]